<ion-content color="secondary">
  <ion-card>
    <form [formGroup]="formRegisterAdd">
      <ion-grid>
        <ion-row color="primary" style="justify-content: center; margin: 5px;  font-size: medium;">
          <ion-col style="align-self: center;" size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h4 style="text-align: center;">Crear una cuenta en AirC&D</h4>
            </div>
            <br>
            <div>
              <ion-item>
                <ion-input formControlName="pcodeUser" type="text" placeholder="codigo"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="pnameUser" type="text" placeholder="Nombre"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="pemailUser" type="email" placeholder="nombre@email.com"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="ppassUser" type="password" placeholder="Password"></ion-input>
              </ion-item>
              <br>
              <ion-label>Tipo de Usuario</ion-label>
              <ion-item>
                <ion-select placeholder="Seleccionar una opción">
                  <ion-select-option value="arrendatario">Arrendatario</ion-select-option>
                  <ion-select-option value="huesped">Huesped</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <br>
            <div>
              <ion-button size="large" expand="block" (click)="addRegister()" [disabled]="!formRegisterAdd.valid">Registrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>