<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Propiedades</ion-title>
      <ion-buttons slot="primary">
        <ion-button [routerLink]="['/main-lessee/add/' ]">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div id="container">
        <ion-card *ngFor="let residences of residence">
          <img *ngIf="!fileUrl" src="https://i.ibb.co/tx2MGZz/maxresdefault.jpg"/>
          <ion-item >
            <ion-button slot="end" (click)="update(residence.code)">Editar</ion-button>
            <ion-card-header>
              <ion-card-subtitle>{{residences.nameRes}}</ion-card-subtitle>
              <ion-card-title>{{residences.locationRes}}</ion-card-title>
            </ion-card-header>
          </ion-item>
        </ion-card>
      </div>
  </ion-content>