<ion-content color="secondary" style="margin-top: 15px;">
  <ion-card>
    <form>
      <ion-row color="primary" style="justify-content: center; margin: 5px;  font-size: medium;">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div>
            <h2 style="text-align: center;">Iniciar sesión</h2>
          </div>
          <div>
            <ion-input type="email" placeholder="nombre@email.com"></ion-input>
          </div>
          <div>
            <ion-input type="password" placeholder="contraseña"></ion-input>
          </div>
          <div>
            <ion-button size="large" type="submit" expand="block">Ingresar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>

<!-- <ion-content>
   <ion-toolbar>
    <ion-title>Lugares Destacados</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
   <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  [routerLink]="['/search']">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
      <ion-tab-button  [routerLink]="['/main-user']">
        <ion-icon name="person"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/main-lessee']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Arrendatario</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content> -->